
<p>Use this page to detail your site's privacy policy.</p>
<h1>Transient</h1>
<p>@ViewBag.message1</p>
<p>@ViewBag.message2</p>
<h1>Scoped</h1>
<p>@ViewBag.message3</p>
<p>@ViewBag.message4</p>
<h1>Singleton</h1>
<p>@ViewBag.message5</p>
<p>@ViewBag.message6</p>